<!-- header.component.html -->

<!-- Toolbar content -->
<mat-toolbar [class.login]="isLoginPage" appHorizontalScroll>
  <!-- Navigation Controls -->
  <button *ngIf="displaySidenavButton" mat-icon-button class="menu-button"
    (click)="onHeaderButtonClick()">
    <mat-icon class="material-symbols-rounded">menu</mat-icon>
  </button>
  <!-- Logo -->
  <a *ngIf="!isLoginPage" class="logo-wrapper" routerLink="/home">
    <app-logo [isDarkTheme]="isDarkTheme" [size]="'medium'" [width]="'130px'" height="'auto'"></app-logo>
  </a>

  <!-- Planning Navigation Controls -->
  <div *ngIf="isPlanningPage" class="planning-navigation">
    <button mat-icon-button (click)="previousWeek()">
      <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
    </button>
    <button mat-stroked-button (click)="goToToday()" class="button_today">
      {{ 'header.today-planning-button' | transloco }}
    </button>
    <button mat-icon-button (click)="nextWeek()">
      <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
    </button>
    <span class="current-week">
      {{ currentWeekStart | date: 'MMM dd' : undefined : currentLanguage}} -
      {{
      weekDays[weekDays.length - 1] | date: currentWeekStart.getMonth() === weekDays[weekDays.length - 1].getMonth() ?
      'dd, yyyy' : 'MMM dd, yyyy' : undefined : currentLanguage
      }}
    </span>
  </div>
  <span class="spacer"></span>
  <div class="header-controls">
    <!-- Language Switcher -->
    <mat-button-toggle-group class="language-switcher" (change)="switchLanguage($event.value)" [value]="currentLanguage"
      [hideSingleSelectionIndicator]="true">
      <mat-button-toggle value="fr">FRA</mat-button-toggle>
      <mat-button-toggle value="en">ENG</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- Theme Toggle Button -->
    <button mat-icon-button (click)="toggleTheme()" class="theme-toggle-button material-symbols-rounded"
      [ngClass]="{ 'dark-mode': isDarkTheme, 'light-mode': !isDarkTheme }">
      <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>