<header class="header">
    <div (click)="onMenuClick()" class="burger-container">
        @if (isOpen) {
        <img src="../../assets/menu.png" alt="Menu" style="cursor: pointer;"/>
        }@else {
        <img src="../../assets/profile-user.png" alt="Menu" style="cursor: pointer;"/>
        }
      </div>

    <img src="path/to/logo.png" alt="Logo" style="height: 40px;">
  
    <img src="../../assets/profile-user.png" alt="Profile" style="cursor: pointer;" onclick="openProfile()">

  </header>
  
  @if(isOpen) { 
    <div class="side-nav">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mes documents administratifs</a></li>
            <li><a href="#">Ma scolarité</a></li>
            <li><a href="#">Mes abscences</a></li>
            <li><a href="#">Emploi du temps</a></li>
        </ul>
    </div>
  }