<!-- header.component.html -->

<!-- Toolbar content -->
<mat-toolbar [class.login]="isLoginPage" appHorizontalScroll>
  <!-- Navigation Controls -->
  <button *ngIf="currentNavMode < NavMode.NORMAL_RETRACTED && !isLoginPage" mat-icon-button class="menu-button"
    (click)="toggleSidenav()">
    <mat-icon class="material-symbols-rounded">menu</mat-icon>
  </button>
  <!-- Logo -->
    <a *ngIf="!isLoginPage" class="logo-wrapper" routerLink="/home">
      <app-logo [isDarkTheme]="isDarkTheme" [size]="'medium'" [width]="'130px'" height="'auto'"></app-logo>
    </a>
  
  <!-- Planning Navigation Controls -->
  <div *ngIf="isPlanningPage" class="planning-navigation">
    <button mat-icon-button (click)="previousWeek()">
      <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
    </button>
    <button mat-stroked-button (click)="goToToday()" class="button_today">
      {{ 'header.today-planning-button' | transloco }}
    </button>
    <button mat-icon-button (click)="nextWeek()">
      <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
    </button>
    <span class="current-week">
      {{ currentWeekStart | date: 'MMM dd' : undefined : currentLanguage}} -
      {{
      weekDays[weekDays.length - 1] | date: currentWeekStart.getMonth() === weekDays[weekDays.length - 1].getMonth() ?
      'dd, yyyy' : 'MMM dd, yyyy' : undefined : currentLanguage
      }}
    </span>
  </div>
  <span class="spacer"></span>
  <div class="header-controls">
    <!-- Language Switcher -->
    <mat-button-toggle-group class="language-switcher" (change)="switchLanguage($event.value)" [value]="currentLanguage"
      [hideSingleSelectionIndicator]="true">
      <mat-button-toggle value="fr">FRA</mat-button-toggle>
      <mat-button-toggle value="en">ENG</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- Theme Toggle Button -->
    <button mat-icon-button (click)="toggleTheme()" class="theme-toggle-button material-symbols-rounded"
      [ngClass]="{ 'dark-mode': isDarkTheme, 'light-mode': !isDarkTheme }">
      <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Sidenav content -->
<mat-sidenav-container *ngIf="!isLoginPage" (backdropClick)="toggleSidenav()" [hasBackdrop]="backdrop">
  <mat-sidenav mode="over" (mouseenter)="onSidenavMouseEnter()" (mouseleave)="onSidenavMouseLeave()" class="sidenav"
    [class.sidenav-expanded]="isSidenavExpanded" [opened]="currentNavMode != NavMode.HIDDEN_RETRACTED"
    [disableClose]="true">
    <div class="sidenav-container">
      <mat-nav-list>
        <ng-container *ngFor="let item of navItems">
          <ng-container *ngTemplateOutlet="renderNavItem; context: { $implicit: item }"></ng-container>
        </ng-container>
      </mat-nav-list>
      <mat-nav-list class="bottom-nav">
        <mat-list-item (click)="logout()" class="nav-link">
          <div class="icon-text">
            <mat-icon class="material-symbols-rounded">logout</mat-icon>
            <span>{{ 'sidenav.logout' | transloco }}</span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="matSideNavContentMargin">
    <mat-card class="scrollable-card" [ngClass]="matSideNavContentMargin">
      <div class="scrollable-content">
        <router-outlet></router-outlet>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Don't display sidenav for login page -->
<ng-container *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #renderNavItem let-item>
  <ng-container *ngIf="!item.children">
    <mat-list-item [routerLink]="item.routerLink" class="nav-link">
      <div class="icon-text">
        <mat-icon class="material-symbols-rounded">{{ item.icon }}</mat-icon>
        <span>{{ item.labelKey | transloco }}</span>
      </div>
    </mat-list-item>
  </ng-container>
  <ng-container *ngIf="item.children">
    <mat-expansion-panel [expanded]="isSidenavExpanded && item.expanded" [hideToggle]="!isSidenavExpanded">
      <mat-expansion-panel-header (click)="toggleExpansion(item)">
        <mat-icon class="material-symbols-rounded">{{ item.icon }}</mat-icon>
        <mat-panel-title>{{ item.labelKey | transloco }}</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item *ngFor="let child of item.children" [routerLink]="child.routerLink" class="nav-link">
          <div class="icon-text">
            <mat-icon class="material-symbols-rounded">{{ item.icon }}</mat-icon>
            <span>{{ item.labelKey | transloco }}</span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </ng-container>
</ng-template>