// header.component.scss
@use '@angular/material' as mat;


// **************************
// Variables
// **************************
$header-height: 64px;
$background-color: var(--sys-surface-container-low);

// **************************
// Toolbar Styles
// **************************
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background-color: $background-color;
  overflow-x: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.login {
    background-color: var(--sys-background);
  }

  // **************************
  // Menu Button Styles
  // **************************
  .menu-button {
    border: none;
    cursor: pointer;
    margin-left: 4px;

    mat-icon-button {
      padding: 0 16px;
    }
  }

  // **************************
  // Logo Container Styles
  // **************************
  .logo-wrapper {
    padding: 0px 12px;
    display: flex;
    align-items: center;

    app-logo {
      cursor: pointer;
    }
  }

  // **************************
  // Planning Navigation Styles
  // **************************
  .planning-navigation {
    display: flex;
    align-items: center;

    .current-week {
      margin: 0 12px;
      font-weight: bold;
    }

    .button_today {
      margin: 0 8px;
    }
  }

  // **************************
  // Spacer Styles
  // **************************
  .spacer {
    flex: 1 1 auto;
  }

  // **************************
  // Header Controls Styles
  // **************************
  .header-controls {
    display: flex;
    align-items: center;

    .language-switcher {
      margin: 0px 12px;
    }

    .theme-toggle-button {
      border: none;
      cursor: pointer;
    }
  }
}