/* styles.scss */
@use './m3-theme.scss' as *;
@use '@angular/material' as mat;

:root {
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-typography($light-theme);
  @include mat.system-level-colors($light-theme);

  --mdc-filled-text-field-container-color: #1a1c1c; // Default text color for text fields
  
  background-color: var(--sys-background);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);

  --mdc-filled-text-field-container-color: #e2e2e2; 

  background-color: var(--sys-background);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

// Override autofill color for text fields
mat-form-field:has(input:-webkit-autofill) {
  input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--mdc-filled-text-field-container-color);
  }
}

::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
  height: 10px; 
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: none;
  background-color: var(--sys-surface-container-highest);
}

::-webkit-scrollbar-corner {
  background-color: var(--sys-background);
}