<!-- home.component.html -->

<!-- Home Page Content -->
<div class="cards-container">
  <mat-card class="home-card" *ngFor="let card of cards" [ngClass]="card.cssClass">
    <mat-card-title class="home-card-title" [ngClass]="card.cssClass">
      {{ card.title }}
    </mat-card-title>
    <mat-card-content>
      <ng-container *ngFor="let node of card.contents">
        <ng-container
          *ngTemplateOutlet="renderNode; context: { $implicit: node }"
        ></ng-container>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>

<!-- Node Rendering Template -->
<ng-template #renderNode let-node>
  <ng-container [ngSwitch]="node.type">
    <!-- Text Node -->
    <span *ngSwitchCase="'text'" [ngClass]="node.cssClass">
      {{ node.content }}
    </span>

    <!-- Link Node -->
    <a *ngSwitchCase="'link'" [href]="node.url" [ngClass]="node.cssClass">
      {{ node.content }}
    </a>

    <!-- Paragraph Node -->
    <p *ngSwitchCase="'paragraph'" [ngClass]="node.cssClass">
      <ng-container *ngFor="let child of node.children">
        <ng-container
          *ngTemplateOutlet="renderNode; context: { $implicit: child }"
        ></ng-container>
      </ng-container>
    </p>

    <!-- List Node -->
    <ul *ngSwitchCase="'list'" [ngClass]="node.cssClass">
      <li *ngFor="let child of node.children">
        <ng-container
          *ngTemplateOutlet="renderNode; context: { $implicit: child }"
        ></ng-container>
      </li>
    </ul>

    <!-- Container Node -->
    <div *ngSwitchCase="'container'" [ngClass]="node.cssClass">
      <ng-container *ngFor="let child of node.children">
        <ng-container
          *ngTemplateOutlet="renderNode; context: { $implicit: child }"
        ></ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-template>