/* src/app/planning/filter-selection/filter-selection.component.scss */

.filter-selection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.validation-message {
  display: flex;
  align-items: center;
  color: var(--sys-on-error-container);
  background-color: var(--sys-error-container); 
  border-left: 4px solid var(--sys-on-error-container);
  padding: 12px 16px;
  margin-top: 8px;
  border-radius: 4px;
  font-size: 14px;
}