<!-- app.component.html -->

<!-- Header content -->
<app-header [isLoginPage]="isLoginPage" [isPlanningPage]="isPlanningPage"
    [displaySidenavButton]="currentNavMode < NavMode.NORMAL_RETRACTED && !isLoginPage"
    (headerButtonClicked)="toggleSidenav()">
</app-header>

<!-- Main Content -->
<ng-container *ngIf="!isLoginPage; else loginContent">
    <!-- Sidenav and Content for Authenticated Pages -->
    <mat-sidenav-container (backdropClick)="toggleSidenav()" [hasBackdrop]="backdrop">
        <!-- Sidenav -->
        <mat-sidenav mode="over" (mouseenter)="onSidenavMouseEnter()" (mouseleave)="onSidenavMouseLeave()"
            class="sidenav" [class.sidenav-expanded]="isSidenavExpanded"
            [opened]="currentNavMode != NavMode.HIDDEN_RETRACTED" [disableClose]="true">
            <!-- Sidenav content -->
            <div class="sidenav-container">
                <!-- Navigation Items -->
                <mat-nav-list>
                    <ng-container *ngFor="let item of navItems">
                        <ng-container *ngTemplateOutlet="renderNavItem; context: { $implicit: item }"></ng-container>
                    </ng-container>
                </mat-nav-list>
                <!-- Logout -->
                <mat-nav-list class="bottom-nav">
                    <mat-list-item (click)="logout()" class="nav-link">
                        <div class="icon-text">
                            <mat-icon class="material-symbols-rounded">logout</mat-icon>
                            <span>{{ 'sidenav.logout' | transloco }}</span>
                        </div>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <!-- Main Content Area -->
        <mat-sidenav-content [ngClass]="matSideNavContentMargin">
            <mat-card class="scrollable-card" [ngClass]="matSideNavContentMargin">
                <div class="scrollable-content">
                    <router-outlet></router-outlet>
                </div>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>

<!-- Login Page Content -->
<ng-template #loginContent>
    <router-outlet></router-outlet>
</ng-template>
<!-- Template for rendering nav items -->
<ng-template #renderNavItem let-item>
    <ng-container *ngIf="!item.children">
        <mat-list-item [routerLink]="item.routerLink" class="nav-link">
            <div class="icon-text">
                <mat-icon class="material-symbols-rounded">{{ item.icon }}</mat-icon>
                <span>{{ item.labelKey | transloco }}</span>
            </div>
        </mat-list-item>
    </ng-container>
    <ng-container *ngIf="item.children">
        <mat-expansion-panel [expanded]="isSidenavExpanded && item.expanded" [hideToggle]="!isSidenavExpanded">
            <mat-expansion-panel-header (click)="toggleExpansion(item)">
                <mat-icon class="material-symbols-rounded">{{ item.icon }}</mat-icon>
                <mat-panel-title>{{ item.labelKey | transloco }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <mat-list-item *ngFor="let child of item.children" [routerLink]="child.routerLink" class="nav-link">
                    <div class="icon-text">
                        <mat-icon class="material-symbols-rounded">{{ child.icon }}</mat-icon>
                        <span>{{ child.labelKey | transloco }}</span>
                    </div>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
    </ng-container>
</ng-template>