// **************************
// Container Styles
// **************************
.user-info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;
}

// **************************
// Card Styles
// **************************
.info-card {
    padding: 8px;

    // Card Header
    mat-card-header {
        mat-icon {
            color: var(--sys-primary);
            border-radius: 0;
        }
    }

    // Information Row Layout
    .info-row {
        display: flex;
        margin: 12px 0;
        align-items: center;

        .label {
            font-weight: 500;
            min-width: 160px;
            color: var(--sys-on-surface-variant);
        }
    }

    // **************************
    // Section Styles
    // **************************
    .section {
        margin: 20px 0;

        // Section Header
        h3 {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--sys-primary);
            margin: 12px 0px;

            mat-icon {
                font-size: 20px;
                width: 20px;
                height: 20px;
            }
        }

        // List Styles
        .info-list {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                padding: 8px 16px;
                margin: 4px 0;
                border-radius: 4px;
                background-color: var(--sys-surface-container-highest);
                color: var(--sys-on-surface);
            }
        }
    }
}