/* styles.scss */
@use './m3-theme.scss' as *;
@use '@angular/material' as mat;

// **************************
// Global Styles
// **************************
:root {
  --mdc-filled-text-field-container-color: #1a1c1c; // Default text color for text fields
  background-color: var(--sys-background);

  @include mat.all-component-themes($light-theme);
  @include mat.system-level-typography($light-theme);
  @include mat.system-level-colors($light-theme);
}

.dark-theme {
  --mdc-filled-text-field-container-color: #e2e2e2;
  background-color: var(--sys-background);

  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

// **************************
// Input form field styles
// **************************
mat-form-field:has(input:-webkit-autofill) {
  input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--mdc-filled-text-field-container-color);
  }
}

// **************************
// Scrollbar styles
// **************************
::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: none;
  background-color: var(--sys-surface-container-highest);
}

::-webkit-scrollbar-corner {
  background-color: var(--sys-background);
}

// **************************
// Material Expansion Panel
// **************************
mat-expansion-panel-header .mat-content.mat-content-hide-toggle {
  margin-right: 0;
}