/* login.component.scss */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  width: 100%;
  background-color: inherit;

  @media (max-width: 600px) {
    width: 67%;
    margin: 0 auto;
  }

  .login-logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      width: 75%;
    }
  }

  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sys-surface-container);
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;

    .login-form-field {
      width: 100%;
      margin-bottom: 10px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 10px;
      width: 75%;
    }
  }
}