/* login.component.scss */

// **************************
// Layout Styles
// **************************
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  width: 100%;
  background-color: inherit;
  overflow-y: hidden;

  @media (max-width: 600px) {
    width: 67%;
    margin: 0 auto;
  }

  // **************************
  // Logo Styles
  // **************************
  .logo-wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center
  }

  // **************************
  // Login Card Styles
  // **************************
  .login-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--sys-surface-container);
    padding: 24px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;

    // **************************
    // Form Fields Styles
    // **************************
    .login-form-field {
      width: 100%;
      margin-bottom: 10px;
    }

    // **************************
    // Buttons Styles
    // **************************
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-bottom: 10px;
      width: 100%;
    }

    .login-button,
    .forgot-password-button {
      width: 90%;
    }
  }
}